<mat-list>
  <a mat-list-item routerLink="/signup" (click)="onClose()" *ngIf="!isAuth">
    <mat-icon color="accent">key</mat-icon><span>Signup</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onClose()" *ngIf="!isAuth">
    <mat-icon color="accent">input</mat-icon> <span>Login</span>
  </a>
  <a mat-list-item routerLink="/" (click)="onClose()" *ngIf="isAuth">
    <mat-icon color="accent">cottage</mat-icon><span>Home</span>
  </a>
  <a mat-list-item routerLink="/training" (click)="onClose()" *ngIf="isAuth">
    <mat-icon color="accent">sports_gymnastics</mat-icon><span>Training</span>
  </a>
  <mat-list-item (click)="onLogout()">
    <button mat-icon-button  *ngIf="isAuth" >
      <mat-icon color="accent">
        tungsten
      </mat-icon>
      <span>Logout</span>
    </button>
  </mat-list-item>
</mat-list>
