<div
class="startpage__body"
fxLayout="column"
fxLayout.gt-md="row"
fxLayoutGap.gt-md="20px"
fxLayoutAlign="center center">
  <button mat-raised-button color="primary" (click)="fetch()">Fetch</button>
  <div>
    <h1>TSart</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi, s?</p>
  </div>

  <div>
    <h1>TSart</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi, s?</p>
  </div>
  <div>
    <h1>TSart</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi, s?</p>
  </div>
</div>

